sudo: false

git:
  depth: 1

matrix:
  include:
    - language: go

      go:
        - "1.11"

      install: true

      script:
        - GO111MODULE=on go test -coverprofile=coverage.txt -covermode=atomic -bench -race ./...

      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - language: rust

      cache:
        - cargo

      rust:
        - stable

      before_script:
        - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
        - (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.1" mdbook)
        - cargo install-update -a

      script:
        - cd docs && mdbook build && mdbook test

      deploy:
        provider: pages
          skip-cleanup: true
          github-token: $GITHUB_TOKEN
          local-dir: docs/book
          keep-history: false
          on:
            branch: master

